<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Céu Azul</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/estilo_cadastro.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagem/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <main>
        <div class="menu">
            <div class="conteudo">
                <h1>Faça o cadastro aqui</h1>
                {% set mensagens = get_flashed_messages() %}
                {% if mensagens %}
                    <div class="alerta">
                        {{mensagens[0]}}
                    </div>
                {% endif %}
                <p><a href="/login">Já tenho conta</a></p>
                <p><a href="/termos">Termos de Segurança</a></p>
                <form action="{{ url_for('cadastro') }}" method="post">
                        <div class="usuario">
                            <label for="usuario">Usuário</label>
                            <input type="text" name="usuario_cad" placeholder="Usuário">
                        </div>
                        <div class="usuario">
                            <label for="email">E-mail</label>
                            <input type="email" name="email_cad" placeholder="E-mail">
                        </div>
                        <div class="usuario">
                            <label for="senha">Senha</label>
                            <input type="password" name="senha_cad" placeholder="Senha">
                        </div>
                    <button>Cadastrar</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>