<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial | Céu Azul</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagem/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/estilo_index.css') }}">
</head>
<body>
    <header>
        <h1>Céu Azul <a href="/cadastro" class="user"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></h1>
        <p>É sempre um prazer atendê-lo</p>
    </header>
    <main>
        <article>
            <a href="cadastro">
                <img src="../../static/imagem/almoco/acaraje_preco.png" alt="Nosso Acaraje!!">
            </a>
        </article>
        <article>
            <a href="cadastro">
                <img src="../../static/imagem/almoco/Buchada_preco.png" alt="Nosso Acaraje!!">
            </a>
        </article>
        <article>
            <a href="cadastro">
                <img src="../../static/imagem/almoco/cuscuz_preco.png" alt="Nosso Acaraje!!">
            </a>
        </article>
        <article>
            <a href="cadastro">
                <img src="../../static/imagem/almoco/rubacao_preco.png" alt="Nosso Acaraje!!">
            </a>
        </article>
        <article>
            <a href="cadastro">
                <img src="../../static/imagem/almoco/vaca_preco.png" alt="Nosso Acaraje!!">
            </a>
        </article>
    </main>
    <footer>
        <div class="copy">
            <p>&copy;2022 Copyright - Céu Azul</p>
        </div>
    </footer>
</body>
</html>