<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outros | Céu Azul</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/estilo_paginas_suporte.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagem/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <main>
        <article>
            <div class="titulo">
                <h1>Outro problema</h1>
            </div>
            <div class="texto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur maiores facilis officiis, sit perspiciatis aspernatur sapiente earum odit laborum ex odio pariatur cumque laboriosam quae nisi, repellat iure ipsa voluptatum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, itaque nesciunt minima officia praesentium dolores iste ut facilis, ipsa est natus libero labore sit assumenda perferendis ipsam cupiditate magni fugiat.</p>
                <span><a href="https://wa.me/558381958797">Nosso WhatsApp para mais</a></span><br>
                <span><a href="suporte">Voltar ao suporte</a></span>
            </div>
        </article>
    </main>
</body>
</html>