<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma de pagamento | Céu azul</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/estilo_paginas_suporte.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagem/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <main>
        <article>
            <div class="titulo">
                <h1>Como funciona nossa forma de pagamento</h1>
            </div>
            <div class="texto">
                <p>Para efetuar o pagamento o(a) senhor(a) deve fazer os seguintes passos: Fazer sua compra, ir em finalizar compra, decidir para quantas pessoas é a mesa e, em seguida, ver a conta final. Nela haverá um código de confirmação que será informado quando chegar ao restaurante.</p>
                <span><a href="https://wa.me/558381958797">Nosso WhatsApp para mais</a></span><br>
                <span><a href="suporte">Voltar ao suporte</a></span>
            </div>
        </article>
    </main>
</body>
</html>