<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugs | Céu azul</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/estilo_paginas_suporte.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagem/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <main>
        <article>
            <div class="titulo">
                <h1>Bugs do site</h1>
            </div>
            <div class="texto">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ex quibusdam asperiores maxime, nulla rem repellat cupiditate hic minima reprehenderit suscipit numquam error, delectus quidem? Saepe amet fuga ullam exercitationem.</p>
                <span><a href="https://wa.me/558381958797">Nosso WhatsApp para informar os Bugs/erros</a></span><br>
                <span><a href="suporte">Voltar ao suporte</a></span>
            </div>
        </article>
    </main>
</body>
</html>